# 服务配置
PORT=3000

# 卡密签名密钥（必填）
CARD_SECRET=gemini-vip-secret-2026

# 管理后台密码
ADMIN_PASSWORD=admin123

# Telegram MTProto 配置
TELEGRAM_API_ID=39187534
TELEGRAM_API_HASH=667b55eaaf2305756bd41d6e3ad8ffc4
TELEGRAM_SESSION=1BQANOTEuMTA4LjU2LjExMwG7Edbg5s4ZQ172bGqeYpyrlDrWO97J0XhUL3/FWyJAEyeMpnOIYbDiiRlByKqHx4ih1CIEYO0QqZ+nbBWSQP87UhaRqMGMP6UcH6DzKbVo9109HrCYOUyXzVSPajSXLaqCw3BdkaTGxjcGU7vg1wwfl5HsqhZaPLlHNIinfjkR0iLDqSvWMcXB+xKM1VJXjNgrdZPSkiWlKSVb2f77CU0gXMTNquM6NSR0pEX/W6IIvcNCJ/2Dnktd+AR1QGQwmE4BBPvccsjFkOWE+6FzDtk+l1fcGO0ObxJszuJw2l6NAE/i6IUm0nesXJwr1VMRkeoQI0WBwPpoNsD1qyzM/YjW6Q==

# 浏览器配置
BROWSER_HEADLESS=true
GOOGLE_OFFER_URL=https://one.google.com/offer/1R0ZLV3EJAKRN9XN2K2V

# 绑卡信用卡信息
CARD_NUMBER=4859540169995924
CARD_EXPIRY=01/30
CARD_CVV=016
CARD_NAME=KEISHA MOORE
CARD_ZIP=93277
